nav {
  position: relative;
  width: 100%;
  background-color:rgb(113, 70, 255);
  position: fixed;
  z-index: 1;
}

nav ul li {
  display:inline-block;  
}
li a:hover{
  color: rgb(255, 255, 255);
}
nav a {
  color:rgb(255, 255, 255);
  display:block;
  text-decoration: none;
  padding:20px 30px;
  }

nav a:hover {
  background: rgb(78, 43, 190);
}

.menu-trigger {
  display:none;
  color:rgb(255, 255, 255);
}

@media screen and (max-width:500px) {
  .menu-trigger {
    display:block;
  }
  nav ul li {
    display:block;
    border-top:1px rgb(255, 255, 255) solid;    
  }
  nav ul {
    display:none;
  }
}